.navbar {
    display: flex;
    color: blue;
}

.text {
    margin-right: 10px;
}

.button{
    margin-left: 3px;
    align-self: center;
}

.boton1 {
    background-color: blue;
    color: white;
}

.boton2 {
    background-color: rgb(255, 0, 0);
    color: white;
}

.boton3 {
    background-color: rgb(212, 255, 0);
    color: rgb(16, 14, 14);
}

